@charset "UTF-8";
/* Основной цвет текста #212121; */
/* Второстепенный цвет текста #757575;*/
/* Черный #000000; */
/* Белый #ffffff;*/
/* Цвет акцент #2196F3; */
/* Белый прозрачный rgba(255, 255, 255, 0.6) */
:root {
  /* Color */
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #ffffff;
  --prmary-icon-color: #afb1b8;
  /* Animation */
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/* Reset */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* outline: 2px solid green; */
}

.header {
  background-color: var(--primary-bg-color);
  align-items: center;
  display: flex;
  border: 1px solid #ececec;
}

.header-content {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo-accent {
  display: flex;
  margin-right: 93px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo {
  color: #000000;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}

.nav__list .nav__link--current {
  color: var(--accent-color);
}

.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 33px;
  color: var(--primary-text-color);
  transition: color 250ms var(--animation-timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact {
  margin-left: auto;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact__list {
  display: flex;
  align-items: center;
}

.contact .contact__list + .contact__list {
  margin-left: 50px;
}

.contact__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  color: var(--title-text-color);
  transition: color 250ms var(--animation-timing-function);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #c4c4c4;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__box {
  padding-top: 200px;
  padding-bottom: 280px;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  min-width: 216px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--animation-timing-function);
}
.hero__btn:focus, .hero__btn:hover {
  background-color: #188ce8;
}

.features__section {
  padding-top: 94px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 270px;
}

.fetures__box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__icon {
  display: block;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.features__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.work__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 70px;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #f5f4fa;
}

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--title-text-color);
}

/* Team icon */
.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--prmary-icon-color);
  background-color: #ffffff;
  transition: background-color 250ms var(--animation-timing-function);
}
.team-icon-link:hover, .team-icon-link:focus {
  background-color: var(--accent-color);
}
.team-icon-link:hover > .team-icon, .team-icon-link:focus > .team.icon {
  fill: var(--primary-white-color);
}

.team-icon {
  fill: var(--prmary-icon-color);
  transition: fill 250ms var(--animation-timing-function);
}

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* Clients icon */
.clients-icon-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--prmary-icon-color);
  border: 1px solid var(--prmary-icon-color);
  border-radius: 4px;
  transition: border-color 250ms var(--animation-timing-function);
}
.clients-icon-link:hover, .clients-icon-link:focus {
  border-color: var(--accent-color);
}
.clients-icon-link:hover > .clients-icon, .clients-icon-link:focus > .clients-icon {
  fill: var(--accent-color);
}

.clients-icon {
  fill: var(--prmary-icon-color);
  transition: fill 250ms var(--animation-timing-function);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--animation-timing-function), visibility 250ms var(--animation-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  transition: transform 500ms var(--animation-timing-function);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-btn:hover .modal-close-icon, .modal-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-close-icon {
  transition: fill 250ms var(--animation-timing-function);
}

/* Modal form */
.modal-title {
  font-weight: 700;
  margin-bottom: 12px;
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form-lable {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.modal-form-group {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--animation-timing-function);
}
.modal-form-field:focus {
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--animation-timing-function);
}
.modal-form-field:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.textarea-comments {
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms var(--animation-timing-function);
}
.textarea-comments:focus {
  border: 1px solid var(--accent-color);
}
.textarea-comments::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.modal-form-checkbox {
  appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
}
.modal-form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  background-color: var(--accent-color);
  border-color: transparent;
  background-size: 11px 8px;
}

.checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  user-select: none;
}

.checkbox-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30px;
  padding: 10px 52px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--animation-timing-function);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188ce8;
}

.logo-accent.footer {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  background-color: #2f303a;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  margin-right: 70px;
}

.footer .logo {
  color: var(--primary-white-color);
}

.address-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  transition: color 250ms var(--animation-timing-function);
}
.footer .link:hover, .footer .link:focus {
  color: var(--accent-color);
}

.address-item {
  margin-bottom: 9px;
}
.address-item:last-child {
  margin-bottom: 0;
}

.address.link {
  color: var(--primary-white-color);
}

.social {
  margin-right: 93px;
}

.social-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  transition: background-color 250ms var(--animation-timing-function);
}
.social-icon-link:hover, .social-icon-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  fill: currentColor;
}

/* Subscription */
.subscription-title {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription-form {
  display: flex;
}

.subscription-field {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  color: var(--primary-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--animation-timing-function);
}
.subscription-field:focus {
  border: 1px solid var(--accent-color);
}
.subscription-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 200px;
  height: 50px;
  text-align: center;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--animation-timing-function);
}
.subscription-btn:hover, .subscription-btn:focus {
  background-color: #188ce8;
}

.subscription-send-icon {
  fill: var(--primary-white-color);
}

.portfolio-box {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Portfolio filter */
.btn {
  display: block;
  padding: 6px 25px;
  background: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--animation-timing-function), color 250ms var(--animation-timing-function), box-shadow 250ms var(--animation-timing-function);
}
.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn.current {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.btn-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  min-width: 575px;
  min-height: 54px;
  margin-bottom: 34px;
}

/* Portfolio list */
.section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-item {
  width: calc((100% - 60px) / 3);
}

.project-name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-item {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms var(--animation-timing-function);
}
.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img-box {
  position: relative;
  overflow: hidden;
}

.portfolio-description {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translate(0%, 100%);
  transition: transform 250ms var(--animation-timing-function);
}
.portfolio-link:hover .overlay {
  transform: translate(0);
}

.overlay-text {
  padding: 63px 24px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */