

.features__section {
    padding-top: 94px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.features__item {
    width: 270px;
}

.fetures__box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
}

.features__icon {
    display: block;
}

.features__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.features__text {
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}