.features__section {
  // Mobile padding
  @include section;

  //Desctop padding
  @media screen and (min-width: 1200px) {
    @include section(0, 94px);
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 450px;

  // Tablet
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  //Desctop
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.fetures__box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__icon {
  display: block;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;

  // Tablet
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  //Desctop
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.features__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
