.logo-accent.footer {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1600px;
    background-color: #2f303a;
}

.footer-box {
    display: flex;
    align-items: baseline;
}