.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 32px;
    height: 32px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    &:hover .modal-close-icon,
    &:focus .modal-close-icon {
            fill: var(--accent-color);
        }

}


.modal-close-icon {
    transition: fill 250ms var(--animation-timing-function);
}