

//  Mixin for section padding

@mixin section ($pb:94px,$pt: 94px){
    padding-top: $pt;
    padding-bottom: $pb;
}
// Mixin for section-list
// $items - кол-во карточек на странице
// $ident - отступ между карточками

@mixin section-width ($items:2, $ident:30px) {
    width: calc((100% - $ident*($items - 1))/ $items);
}
